<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <link rel="stylesheet" href="../css/sendMessage.css"></link>
  <title>send message</title>
</head>
<body>
  <div id="font">
      <h2>Send your message</h2>
      <form action="/sendMessage" method="POST">
      <input type="text" name="message">
      <button type="submit">Send</button>
      </form>
  </div>
</body>
</html>